{% extends "base.html" %} {% set active_page = "faq" %} {% block title %}{% if 'adsb.im' in x_forwarded_host %}ADSB.im{% else %}SDRE.im{% endif %}{% endblock %}
{% block head %} {{ super() }} {% endblock %} {% block
page_content %}
<div class="container">
  <div class="row justify-content-left mt-2 mb-2">
    <div class="container mt-3">
      <h4 class="mb-1">FAQ</h4>
      <div class="accordion" id="FAQ">
        <div class="accordion-item">
          <h5 class="accordion-header">
            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseADSB"
                    aria-expanded="false" aria-controls="collapseSupported">
              What is ADS-B?
            </button>
          </h5>
          <div id="collapseADSB" class="accordion-collapse collapse" data-bs-parent="#FAQ">
            <div class="accordion-body">
              ADS-B or <a href="https://en.wikipedia.org/wiki/ADSB">Automatic Dependent Surveillance Broadcast</a>
              is a form of electronic conspicuity in which an aircraft determines its position via satellite navigation or
              other sensors and periodically broadcasts its position and other related data, enabling it
              to be tracked. The information can be received with a simple SDR and antenna on the ground.
            </div>
          </div>
        </div>

        <div class="accordion-item">
          <h5 class="accordion-header">
            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseACARS"
                    aria-expanded="false" aria-controls="collapseSupported">
              What is ACARS?
            </button>
          </h5>
          <div id="collapseACARS" class="accordion-collapse collapse" data-bs-parent="#FAQ">
            <div class="accordion-body">
              ACARS or <a href="https://en.wikipedia.org/wiki/ACARS">Aircraft Communications Addressing and Reporting System</a>
              is a digital data communication system for transmission of short messages between aircraft and ground stations.
              The information can be received with a simple SDR and antenna on the ground.
            </div>
          </div>
        </div>

        <div class="accordion-item">
          <h5 class="accordion-header">
            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseVDL2"
                    aria-expanded="false" aria-controls="collapseSupported">
              What is VDL2?
            </button>
          </h5>
          <div id="collapseVDL2" class="accordion-collapse collapse" data-bs-parent="#FAQ">
            <div class="accordion-body">
              VDL2 or sometimes VDLM2 stands for <a href="https://en.wikipedia.org/wiki/VHF_Data_Link">VHF Data Link</a>.
              It is also a digital data communication system for transmission of short messages between aircraft and ground stations.
              Since 2014 it has been mandatory for all new aircraft in Europe and is also widely used globally as more modern alternative
              to ACARS. The information can be received with a simple SDR and antenna on the ground.
            </div>
          </div>
        </div>

        <div class="accordion-item">
          <h5 class="accordion-header">
            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseHFDL"
                    aria-expanded="false" aria-controls="collapseSupported">
              What is HFDL?
            </button>
          </h5>
          <div id="collapseHFDL" class="accordion-collapse collapse" data-bs-parent="#FAQ">
            <div class="accordion-body">
              HFDL or <a href="https://en.wikipedia.org/wiki/High_Frequency_Data_Link">High Frequency Data Link</a> is yet another
              communications medium used to exchange data such as Aeronautical Operational
              Control (AOC) messages, Controller Pilot Data Link Communications (CPDLC) messages and Automatic Dependent Surveillance
              (ADS) messages between aircraft and corresponding ground stations. Using the unique propagation characteristics of
              high-frequency radio waves, HFDL data can usually be received over much longer distances than ACARS or VDL2 messages.
              Just like for those protocols, the information can be received with a simple SDR and antenna on the ground.
            </div>
          </div>
        </div>

        <div class="accordion-item">
          <h5 class="accordion-header">
            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseAIS"
                    aria-expanded="false" aria-controls="collapseSupported">
              What is AIS?
            </button>
          </h5>
          <div id="collapseAIS" class="accordion-collapse collapse" data-bs-parent="#FAQ">
            <div class="accordion-body">
              AIS or <a href="https://en.wikipedia.org/wiki/Automatic_Identification_System">Automatic Identification System</a>
              is an automatic tracking system that uses transceivers on ships. It is similar to ADS-B in its nature, but the
              technical implementation is different.
              The information can be received with a simple SDR and antenna within a relatively shorter distance from the sender
              (as ships by their nature tend to be closer to sea level and therefor the line of sight limitations become more relevant).
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h5 class="accordion-header">
            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseRadiosonde"
                    aria-expanded="false" aria-controls="collapseSupported">
              What is Radiosonde?
            </button>
          </h5>
          <div id="collapseRadiosonde" class="accordion-collapse collapse" data-bs-parent="#FAQ">
            <div class="accordion-body">
              <a href="https://en.wikipedia.org/wiki/Radiosonde">Radiosonde</a> is a battery-powered telemetry instrument
              carried into the atmosphere usually by a weather balloon that measures various
              atmospheric parameters and transmits them by radio.
              The information can be received with a simple SDR and antenna on the ground.
            </div>
          </div>
        </div>

        <div class="accordion-item">
          <h5 class="accordion-header">
            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSupported"
                    aria-expanded="false" aria-controls="collapseSupported">
              What hardware is supported?
            </button>
          </h5>
          <div id="collapseSupported" class="accordion-collapse collapse" data-bs-parent="#FAQ">
            <div class="accordion-body">
              Many Arm based Single Board Computers (SBCs) and USB Software
              Define Radios (SDRs). A (hopefully) current list can be found on
              our <a href="/supported">Supported Hardware</a>
              page. Updates are always welcome.<br />
              NOTE: <b>you need a decent power supply</b>. The vast majority of user issues can be traced back to using
              a bad power supply.
            </div>
          </div>
        </div>

        <div class="accordion-item">
          <h5 class="accordion-header">
            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapsehalfgig"
                    aria-expanded="false" aria-controls="collapsehalfgig">
              What about boards with 512MB like the Raspberry Pi 3 Model A+ or Pi Zero 2
              W?
            </button>
          </h5>
          <div id="collapsehalfgig" class="accordion-collapse collapse" data-bs-parent="#FAQ">
            <div class="accordion-body">
              That used to be a bit painful but has gotten a lot better lately. With current versions
              of the feeder image, 512MB is no longer a huge problem. I still recommend 1GB or more,
              but you can absolutely run a feeder with 512MB and feed several aggregators.<br/>
              The bigger issue with both the Pi 3 and and the Pi Zero 2 is that the hardware seems to be
              somewhat less reliable than the Pi 4 - we get more reports of random crashes or other
              strange issues. But if this is what you have, use a current image (I no longer prefer the
              DietPi images - the regular (Raspbian based) image works just as well) and give it a go.<br/>
              If you plan to feed many of the account based aggregators, it might still be worth looking
              at a <a href="/stage2">two stage setup</a> where the Raspberry Pi just drives the SDR and
              the actuall communication with the aggregators is done from a Stage 2 system.
            </div>
          </div>
        </div>

        <div class="accordion-item">
          <h5 class="accordion-header">
            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSweetspot"
                    aria-expanded="false" aria-controls="collapseSweetspot">
              How do I run this image?
            </button>
          </h5>
          <div id="collapseSweetspot" class="accordion-collapse collapse" data-bs-parent="#FAQ">
            <div class="accordion-body">
              There are many ways to interpret this question. I'll assume you want to know what's a good setup to run.
              And surprisingly, that's a complicated questions. It depends on a lot of factors. <br />
              Do you just want to run a simple feeder that feeds some / many / most / all of the aggregators?<br />
              The best bet right now might be a Raspberry Pi 4 with 1G or 2G of memory. Those are once again reasonably
              easy to get, not too expensive, and more than capable enough to run all this.<br />
              I have a smaller / cheaper SBC - will that also work?<br />
              The Raspberry Pi 3 is known to have a bunch of problems that cause occasional MLAT hiccups. Similarly, the
              Pi Zero 2 does work, but it's not great. The Libre Computing Le Potato and the Orange Pi Zero 3 seem to be
              good slightly cheaper choices. For all of the boards that are have less than 1G of RAM or significantly
              slower CPUs than the Raspberry Pi 4, a <a href="/stage2">two stage setup</a> might be the best
              option. A (hopefully) current list of supported hardware can be found on our <a
                 href="/supported">Supported
                Hardware</a> page.<br />
              What about x86?<br />
              64bit Thin Clients (often available for very little money on eBay) are a great choice. Anything more
              powerful will work as well, but might be a bit of a waste (just like running this on a Raspberry Pi 5 or
              an Orange Pi 5 is definitely overkill). Stage 2 instances work great in x86_64 VMs (that's kind of the
              sweet spot for them, really), but running the feeder itself (i.e. the system with the SDR attached) in a
              VM creates problems with MLAT because of USB passthrough challenges.
            </div>
          </div>
        </div>

        <div class="accordion-item">
          <h5 class="accordion-header">
            <button class="accordion-button" type="button" data-bs-toggle="collapse"
                    data-bs-target="#collapseTroubleshooting" aria-expanded="false"
                    aria-controls="collapseTroubleshooting">
              Troubleshooting
            </button>
          </h5>
          <div id="collapseTroubleshooting" class="accordion-collapse collapse" data-bs-parent="#FAQ">
            <div class="accordion-body">
              <div class="mb-2">
                The first thing to check is your power supply.
              </div>
              <div class="mb-2">
                No, this will not work reliably with just a USB charger.
                Or a USB cable from a powered hub. Or whatever. Yes, that other guy on Discord said... The reality is
                that the vast majority of issues when running this image on a single board computer can be traced back
                to bad power. So before you ask for help, please ask yourself "am I using a decent power supply?".
                At least a 5V/2.5A power supply for an RPi3-class SBC, 5V/4A or better for anything more powerful than
                that.
              </div>
              <div class="mb-2">
                Ideally this should work out of the box. But in practice
                something often goes wrong. Make sure you followed the
                instructions. <b>Especially focus on the part about having a good
                  power supply and a good SD-card</b>. A lot of problems are caused by those.
              </div>
              <div class="mb-2">
                If this doesn't work, I really recommend simply starting again.
                Download the image, use the Pi Imager or a similar bit-accurate
                program to write the image to the SD-card. Make
                sure you don't skip the verify step. Then turn off the SBC,
                insert the SD-card and turn it back on again. Be patient - wait
                at least several minutes, longer, if it is an "install-on-boot"
                image, marked as "iob" in the image name. Now check again at
                <a href="http://adsb-feeder.local">adsb-feeder.local</a>. If
                this doesn't work, try connecting to it via our redirector
                service at <a href="https://my.adsb.im">my.adsb.im</a>.
              </div>
              <div class="mb-2">
                If none of this solves the problem, ask on the SDR-Enthusiast
                Discord in the
                <tt>#adsb-dot-im</tt> channel.
              </div>
              <div>
                A common question in the context of Troubleshooting is "How do I log in to the feeder?".
              </div>
              <div>
                There is no default user/password. Instead on the System->Management page you can ask the feeder to create a
                random root password for you. Use that to log in as root, or set an ssh key on the same page and then use
                an ssh client to log into the root account.
              </div>
            </div>
          </div>
        </div>

        <div class="accordion-item">
          <h5 class="accordion-header">
            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapsex86vm"
                    aria-expanded="false" aria-controls="collapsex86vm">
              Running the Feeder Image in a VM
            </button>
          </h5>
          <div id="collapsex86vm" class="accordion-collapse collapse" data-bs-parent="#FAQ">
            <div class="accordion-body">
              We provide an OVA for each release, also simply a compressed
              virtual disk image, as well as a version prepared for (relatively)
              easy installation with ProxMox. Please note that when opening the
              OVA in VMware (Fusion/Workstation/whatever) you will get an error
              on the first attempt, but will be able to succesfully import it if
              you click 'Retry'. Make sure you pass your SDR through to the VM -
              this works differently in each hypervisor, so please look at your
              specific hypervisor software for instructions. Look for an option
              to make host USB devices available to the VM. There are some
              noticeable issues with mlat when running the Feeder Image in a VM.
              This is a known issue with USB passthrough into VMs. Some hints
              from Matthias Wirt on the topic are in this
              <a href="https://github.com/wiedehopf/adsb-wiki/wiki/mlat-in-VMs">ADS-B Wiki page</a>.<br/>
              If you are running on ProxMox, please follow the instructions in
              the <a href="https://github.com/dirkhh/adsb-feeder-image?tab=readme-ov-file#for-advanced-users-wanting-to-run-this-image-on-x86-under-proxmox">ProxMox section of the README</a>.
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h5 class="accordion-header">
            <button class="accordion-button" type="button" data-bs-toggle="collapse"
                    data-bs-target="#collapsewifisupport" aria-expanded="false" aria-controls="collapsewifisupport">
              WiFi Support
            </button>
          </h5>
          <div id="collapsewifisupport" class="accordion-collapse collapse" data-bs-parent="#FAQ">
            <div class="accordion-body">
              <div class="mb-2">
                WiFi is fully supported on Raspberry Pi boards, some other DietPi based images like the ones for
                OrangePi boards also work. We strongly recommend setting up WiFi using the <a href="/hotspot">Hotspot</a>
                feature.
              </div>
            </div>
          </div>
        </div>

        <div class="accordion-item">
          <h5 class="accordion-header">
            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapsesecurity"
                    aria-expanded="false" aria-controls="collapsesecurity">
              Can I run the ADS-B Feeder and expose it directly to the internet?
            </button>
          </h5>
          <div id="collapsesecurity" class="accordion-collapse collapse" data-bs-parent="#FAQ">
            <div class="accordion-body">
              The ADS-B Feeder is designed to be run in a local network, behind
              a firewall. There are many parts of this image that would be
              completely unsafe to have on the internet (like for example being
              able to install an ssh key), but even with those enabled, having
              this system directly exposed to potentially hostile traffic was
              never a design goal. Please don't do it.
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h5 class="accordion-header">
            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#migrate"
                    aria-expanded="false" aria-controls="migrate">
              How can I migrate to adsb.im from a different setup?
            </button>
          </h5>
          <div id="migrate" class="accordion-collapse collapse" data-bs-parent="#FAQ">
            <div class="accordion-body">
              You can transfer the Sharing/API/Feeder Key/ID to ADSB.im during the setup. Just note them down prior to
              switching your current feeder off. Currently suported (with hints how to get existing keys - these
              commands need to be run on your existing feeder):
              <ul>
                <li> FlightAware: <code>piaware-config -show feeder-id</code> </li>
                <li> FlightRadar24: <code>cat /etc/fr24feed.ini | grep fr24key</code> </li>
                <li> RadarBox: <code>rbfeeder --showkey --no-start</code> or alternatively
                  <code>grep key= /etc/rbfeeder.ini</code>
                </li>
                <li> Plane.Watch: log into your <a href="api.plane.watch">Plane.Watch</a> account, go to "Feeders", and
                  click on the little search icon next to the feeder name. The resulting page will list your API key.
                </li>
                <li> PlaneFinder: log into your <a hred="https://planefinder.net/">PlaneFinder</a> account and go to
                  "Your Receivers". Your share code will be listed next to your existing receiver. </li>
                <li> ADSBHub: log into your <a href="https://www.adsbhub.org/howtofeed.php">ADSBHub</a> account and go
                  to "Settings", click on the name of the station and then copy the "Station dynamic IP update ckey".
                </li>
                <li> OpenSky Network: log into your <a href="https://opensky-network.org/my-opensky">OpenSky Network</a>
                  account. The serial number for your receiver will be shown.</li>
                <li> RadarVirtuel: your feeder key was emailed to you when you signed up.</li>
                <li> 1090MHz UK: your sharing key was emailed to you when you signed up.</li>
              </ul>
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h5 class="accordion-header">
            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapsezerotier"
                    aria-expanded="false" aria-controls="collapsezerotier">
              How to set up Zerotier?
            </button>
          </h5>
          <div id="collapsezerotier" class="accordion-collapse collapse" data-bs-parent="#FAQ">
            <div class="accordion-body">
              <div class="mb-2">
                First, if you haven't already done so, set up a Zerotier account
                and create a network. Lots of documentation how to do this can
                be found on their
                <a href="https://docs.zerotier.com/">documentation website</a>
              </div>
              <div class="mb-2">
                When you create the network, it will be assigned a 16 character
                hex string. Enter that string on the expert page of the adsb.im
                ADS-B Feeder. After a few moments you should see the new network
                member show up on the Network Settings panel on the Zerotier
                website. There you accept the feeder into your network and give
                it a name. Also note down the IP address that it is assigned in
                the managed IP column.
              </div>
              <div class="mb-2">
                Now set up Zerotier on the device from which you want to be able
                to access you feeder. Go through that same process of adding it
                to your network.
              </div>
              <div>
                Once that is done, you can access your feeder from that other
                device (cell phone, laptop, whatever) by using the IP address
                you noted down earlier.
              </div>
            </div>
          </div>
        </div>

        <div class="accordion-item">
          <h5 class="accordion-header">
            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapserawiron"
                    aria-expanded="false" aria-controls="collapserawiron">
              How does this compare to running the ADS-B feeder scripts from an
              aggregator directly on my system?
            </button>
          </h5>
          <div id="collapserawiron" class="accordion-collapse collapse" data-bs-parent="#FAQ">
            <div class="accordion-body">
              This is actually a surprisingly complex question. The ADS-B Feeder
              Image provided here (or installed as an 'app' in DietPi or on a
              different Linux OS) is Docker based. And it runs a Python/Flask
              app to provide the web user interface. This by definition creates
              overhead. It will use more memory than an optimized minimal
              installation of the necessary software directly on the SBC OS.
              Given that we have tried to be careful in how we set things up, the
              difference isn't very big, but it's there, and especially on a low
              memory device (e.g., a 512MB RPi Zero 2 W or RPi 3 A+) that difference
              can be significant. On the flip side, the moment you consider
              submitting your data to more than one aggregator, the equation
              changes. This is where having a setup like this one really helps
              to keep things simple. The other situation where the ADS-B Feeder
              Image has a significant edge over installation directly on an SBC
              is for anyone who isn't super comfortable with the command line,
              who doesn't want to spend a lot of time in a text editor or
              entering commands in a terminal window, and who is looking for an
              easy to use user interface. The ADS-B Feeder Image is primarily
              designed to be easy, to appeal to people who aren't super
              comfortable running a Linux system. Interestingly enough, quite a
              few very experienced folks still decide to use this image simply
              because of the UI and the simplicity - but we understand if you
              feel differently and don't need the helping hand. In summary: yes,
              there is additional overhead, but in most situations it's academic
              and doesn't really make an difference. If you have an SBC with a
              gigabyte or more, it's likely not relevant. But if you aren't a
              fan of the Linux command line, this may still be a very powerful
              option to consider.
            </div>
          </div>
          <div class="accordion-item">
            <h5 class="accordion-header">
              <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapsePrivacy"
                      aria-expanded="false" aria-controls="collapsePrivacy">
                What's your privacy and data policy?
              </button>
            </h5>
            <div id="collapsePrivacy" class="accordion-collapse collapse" data-bs-parent="#FAQ">
              <div class="accordion-body">
                It's simple, no data of yours is stored for more than 60 seconds.
                The full details are of course in our
                <a href="/privacy">Privacy Policy</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  !function (candidate) {
    candidate && new bootstrap.Collapse(candidate, { show: true });
  }(document.querySelector(window.location.hash + ".collapse"));
</script>

{% endblock %} {% block scripts %} {{ super() }} {% endblock %}
