{% extends "base.html" %}
{% set active_page = "home" %}

{% block title %}{% if 'adsb.im' in x_forwarded_host %}ADSB.im{% else %}SDRE.im{% endif %}{% endblock %}
{% block head %}
{{ super() }}

{% endblock %}

{% block page_content %}
<div class="container">
    <div class="row justify-content-center mt-2 mb-1">
        <h5>The easiest way to track nearby aircraft, ships, or even weather balloons with your own hardware and share with others</h5>
        <div class=" ratio-16x9  col-xl-6 col-lg-8 col-12 mb-2">
        <img class="img-fluid" src="/static/images/tar1090.png"
             alt="visualizing local air traffic"></div>
        <div class="mb-3 col-xl-6 col-lg-4 col-12">
            <p>
            The image <span class="d-xs-none d-sm-none d-md-none d-lg-inline">on the left</span><span
                  class="d-lg-none">above</span>
            shows the planes above me right now, their recent tracks, more information about altitude, speed, and for
            many commercial flights even the flight route.<br>
            Plot aircraft on your own map, and share to aggregators like
            <a href="https://adsb.lol/">adsb.lol</a>,
            <a href="https://flyitalyadsb.com/">Fly Italy Adsb</a>,
            <a href="http://theairtraffic.com/">TheAirTraffic</a>,
            <a href="https://adsb.fi/">adsb.fi</a>,
            <a href="https://sdrmap.org/">sdrmap</a>,
            <a href="https://1090mhz.uk/">1090MHz UK</a>,
            <a href="https://adsbexchange.com/">ADS-B Exchange</a>,
            <a href="https://adsbhub.org/">ADSBHub</a>,
            <a href="https://skylink.hpradar.com/">HPRadar</a>,
            <a href="https://airplanes.live">airplanes.live</a>,
            <a href="https://www.avdelphi.com/">AVDelphi</a>,
            <a href="https://flightaware.com/">FlightAware</a>,
            <a href="https://www.flightradar24.com/">FlightRadar24</a>,
            <a href="https://opensky-network.org/">OpenSky Network</a>,
            <a href="https://plane.watch/">Plane.watch</a>,
            <a href="https://planefinder.net/">Plane Finder</a>,
            <a href="http://planespotters.net/">Planespotters.net</a>,
            <a href="https://www.airnavradar.com/">AirNav Radar</a>,
            <a href="https://www.radarvirtuel.com/">Radar Virtuel</a>, and more!
            </p>
        </div>
        <div class="mt-3 col-12">
            <p>
                The {% if 'adsb.im' in x_forwarded_host %}ADS-B{% else %}SDR{% endif %} Feeder Image started initially as a way
                to make it easier to set up an ADS-B feeder - but by now it has expanded to support AIS (to track ships),
                Sonde (to track weather balloons), and ACARS/VDL2/HFDL to receive data transmitions from aircraft to ground
                stations. Each of these areas have their own aggregators, their own communities, and their own fascinations.
                What they have in common is that with the Feeder Image it is very easy to get setup and get started.
            </p>
        </div>
        <div class="my-3 col-12">
            There are several ways to install the {% if 'adsb.im' in x_forwarded_host %}ADS-B{% else %}SDR{% endif %} Feeder Image, depending on where and how you want to run things.
            When in doubt, an Image for your Single Board Computer (SBC) should always be your first choice. That's what gets tested the most, what
            typically is the easiest to use and has the fewest pitfalls. Most people appear to use Raspberry Pis for this purpose; several other
            boards are also supported.
        </div>
        <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item" role="presentation">
                <button class="nav-link active" id="image-tab" data-bs-toggle="tab" data-bs-target="#image-tab-pane"
                        type="button" role="tab" aria-controls="image-tab-pane" aria-selected="true">Single Board
                    Computer Image
                    (easiest)</button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link" id="dietpi-tab" data-bs-toggle="tab" data-bs-target="#dietpi-tab-pane"
                        type="button" role="tab" aria-controls="dietpi-tab-pane" aria-selected="false">DietPi
                    (easy)</button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link" id="app-tab" data-bs-toggle="tab" data-bs-target="#app-tab-pane" type="button"
                        role="tab" aria-controls="app-tab-pane" aria-selected="false">Linux (more advanced)</button>
            </li>
        </ul>
        <div class="tab-content" id="myTabContent">
            <div class="tab-pane fade show active mt-3 mb-1" id="image-tab-pane" role="tabpanel"
                 aria-labelledby="image-tab" tabindex="0">
                <ul>
                    <li> Start with one of the <a href="/supported#sbcs">supported single board computers</a>.</li>
                    <li> Add an <a href="/supported#sdrs">SDR radio dongle</a> and an <a
                           href="/supported#antennas">antenna</a></li>
                    <li> <a href="/download">Download</a> the matching SD-card image and write it to an <a
                           href="/supported#sdcards">SD-card</a></li>
                    <li> Boot your SBC and wait a little while (depending on the model and the specific image this
                        usually takes a few minutes, but in some cases this can take 15 to 20 minutes)</li>
                    <li> If you have wired Ethernet, or after you have configured WiFi simply go to <a
                           href="http://adsb-feeder.local">http://adsb-feeder.local</a> or (if you
                        don't have working mDNS on your home network) to <a href="http://my.adsb.im">my.adsb.im</a>
                        which should redirect you to your new ADS-B feeder.</li>
                    <li> If you are planning to use WiFi and weren't able to configure that while writing the SD card,
                        the image will create a WiFi hotspot <code>adsb.im-feeder</code> that you can connect to in
                        order to enter the credentials for it to connect to your WiFi network. More details for this on
                        our <a href="/hotspot">Hotspot Page</a></li>
                </ul>
                A full walk through of the process with much more detailed instructions is on the <a href="/howto">HowTo
                    Page</a>.
            </div>
            <div class="tab-pane fade mt-3 mb-4" id="dietpi-tab-pane" role="tabpanel" aria-labelledby="dietpi-tab"
                 tabindex="1">
                <ul>
                    <li> On current versions of DietPi, this is as simple as using <code>dietpi-software</code> and
                        searching for app number 141 (or for ADS-B Feeder).</li>
                    <li> Once you install that application, you can connect to the web UI via
                        <code>http://{local name or IP}:1099</code>
                    </li>
                    <li> Of course, you still need a <a href="/supported#sdrs">supported SDR</a> and an <a
                           href="/supported#antennas">antenna</a> connected to the DietPi system.</li>
            </div>
            <div class="tab-pane fade mt-3 mb-5" id="app-tab-pane" role="tabpanel" aria-labelledby="app-tab"
                 tabindex="2">
                <ul>
                    <li> On most recent Debian / Ubuntu based Linux systems running on ARM64 or x86 systems, you can
                        install the ADS-B Feeder Image as an app</li>
                    <li><code class="small">
                            curl https://raw.githubusercontent.com/dirkhh/adsb-feeder-image/main/src/tools/app-install.sh | sudo bash
                        </code></li>
                    <li> Or, more reasonably, download the shell script, read and review what it does, and then run it
                        as root</li>
                    <li> Once you install that application, you can connect to the web UI via
                        <code>http://{local name or IP}:1099</code>
                    </li>
                    <li>Of course, you still need a <a href="/supported#sdrs">supported SDR</a> and an <a
                           href="/supported#antennas">antenna</a> connected to the Linux system</li>
                </ul>
            </div>
        </div>
        <hr>
        <div class="col-12">
            <h5 class="mt-1 mb-2">Some screenshots</h5>
            <div class="col-12">
                <ul class="nav nav-tabs" id="screenShotTab" role="tablist">
                    <li class="nav-item" role="presentation">
                        <button class="nav-link active" id="homepage-tab" data-bs-toggle="tab"
                                data-bs-target="#homepage-tab-pane" type="button" role="tab"
                                aria-controls="homepage-tab-pane" aria-selected="true">Dashboard</button>
                    </li>
                    <li class="nav-item" role="presentation">
                        <button class="nav-link" id="setup-tab" data-bs-toggle="tab" data-bs-target="#setup-tab-pane"
                                type="button" role="tab" aria-controls="setup-tab-pane" aria-selected="false">Basic
                            Setup</button>
                    </li>
                    <li class="nav-item" role="presentation">
                        <button class="nav-link" id="stats-tab" data-bs-toggle="tab" data-bs-target="#stats-tab-pane"
                                type="button" role="tab" aria-controls="stats-tab-pane"
                                aria-selected="false">Stats</button>
                    </li>
                </ul>
                <div class="tab-content" id="screenShotTabContent">
                    <div class="tab-pane fade show active mt-3 mb-1" id="homepage-tab-pane" role="tabpanel"
                         aria-labelledby="image-tab" tabindex="0">
                        <figure class="figure border"> <img class="img-fluid media-object" alt="ADS-B Feeder Homepage"
                                 src="/static/images/ADSB-im-v2.1.png">
                        </figure>
                    </div>
                    <div class="tab-pane fade show mt-3 mb-1" id="setup-tab-pane" role="tabpanel"
                         aria-labelledby="image-tab" tabindex="0">
                        <figure class="figure border"> <img class="img-fluid media-object"
                                 alt="ADS-B Feeder Basic Setup screen" src="/static/images/BasicSetup.png">
                    </div>
                    <div class="tab-pane fade show mt-3 mb-1" id="stats-tab-pane" role="tabpanel"
                         aria-labelledby="image-tab" tabindex="0">
                        <figure class="figure border"> <img class="img-fluid media-object"
                                 alt="ADS-B Feeder Graphs and Statistics" src="/static/images/graphs.png">
                    </div>
                </div>
            </div>
            <h5 class="mt-3">Once you are up and running with the web UI</h5>
            The first page the Feeder will show you is the basic setup page. Here you can:
            <ul>
                <li>Give your feeder station a name (used for the map website and aggregator MLAT graphs).</li>
                <li>Enter the physical location of the antenna (there is a link to a useful tool if you need help
                    finding
                    the correct latitude, longitude, and elevation).</li>
                <li>Enter the time zone (again, there's a button to make this straight forward).</li>
                <li>Select the initial set of aggregators your want to send data to.</li>
                <li>Click on <b>Setup</b> - unless you decided to manually select aggregators or have multiple SDRs
                    or
                    some other unusual circumstances, this is all it takes to get started. Next the web UI will
                    redirect you to the ADS-B Feeder home page from where you can manage your feeder station.</li>
            </ul>
            For those who prefer that format, we even have a <a href="https://youtu.be/N5yHvInpDBM">short video</a> that
            shows the steps described above.
            <h5 class="mt-5 mb-2">For help, questions, or to see the source code</h5>
            <ul>
                <li><a href="https://adsblol.zulipchat.com/#narrow/stream/391168-adsb-feeder-image">Feeder Image
                        Zulip
                        channel</a> on adsb.lol's Zulip server
                </li>
                <li><code>#adsb-dot-im</code> channel on the <a href="https://discord.gg/vqvJXRAkJ4">SDR-Enthusiast
                        Discord server</a>
                </li>
                <li><a href="https://github.com/dirkhh/adsb-feeder-image">Feeder Image GitHub project</a></li>
            </ul>
        </div>
    </div>
</div>

<hr color="white" />

<div class="container mt-5">
    <div class="row justify-content-center mt-2 mb-5">
        <div class="col-md-auto">
            {{ data.feeder_status | safe }}
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}
{{ super() }}


{% endblock %}
