<nav class="navbar navbar-expand-lg ">
    <div class="container-fluid">

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            &#x2630;
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="nav navbar-nav ml-auto">
                <li class="nav-item {{'active' if active_page == 'home' }}">
                    <a class="nav-link" href="/home">Home</a>
                </li>
                <li class="nav-item {{'active' if active_page == 'about' }}">
                    <a class="nav-link" href="/about">About</a>
                </li>
                <li class="nav-item {{'active' if active_page == 'faq' }}">
                    <a class="nav-link" href="/faq">FAQ</a>
                </li>
                <li class="nav-item {{'active' if active_page == 'howto' }}">
                    <a class="nav-link" href="/howto">Howto</a>
                </li>
                <li class="nav-item {{'active' if active_page == 'using' }}">
                    <a class="nav-link" href="/using">Using</a>
                </li>
                <li class="nav-item {{'active' if active_page == 'stage2' }}">
                    <a class="nav-link" href="/stage2">Stage2</a>
                </li>
                <li class="nav-item {{'active' if active_page == 'supported' }}">
                    <a class="nav-link" href="/supported">Supported HW</a>
                </li>
                <li class="nav-item {{'active' if active_page == 'privacy' }}">
                    <a class="nav-link" href="/privacy">Privacy and data policy</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
